# See http://help.github.com/ignore-files/ for more about ignoring files.

client/node_modules
client/bower_components
client/public

server/node_modules


# compiled output
portal/dist
portal/tmp

# dependencies
portal/node_modules
portal/bower_components

# misc
portal/.sass-cache
portal/connect.lock
portal/coverage/*
portal/libpeerconnection.log
portal/npm-debug.log
portal/testem.log
