<h4 class="header">Edit profile</h4>

<form class="form-horizontal">
  <fieldset>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="label-email">Phone Number</label>
    <div class="col-md-6">
      <input id="label-email" name="label-email" type="text" placeholder="" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="label-passwordinput">Skype</label>
    <div class="col-md-6">
      <input id="label-passwordinput" name="label-passwordinput" type="password" placeholder="" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="btn-login"></label>
    <div class="col-md-8 pull-right">
      {{link-to 'Cancel' 'profile' class='btn btn-default'}}
      <button id="btn-login" name="btn-login" class="btn btn-success">Update</button>
    </div>
  </div>

  </fieldset>
</form>

{{outlet}}
